/* This file will hold styles that are loaded using the same media query as the normal grid. */
.flowplayer-processed{width:540px;height:328px;padding-left:0px;}
.FPSplash{width:540px;z-index:-1;position:static; margin-top:-45px}
.FPArrow{z-index:9;border: none; opacity: 0.8; position: relative; top: 144px; left: 250px;}
